# Pandas_Series_Operator

In [1]:
import pandas as pd

In [2]:
# Dictionary 생성
dict_country = {
    'country': ['china','japan','korea','usa'],
    'gdp': [1409250000,516700000, 169320000, 2041280000],
    'population': [141500,12718, 5180, 32676]
}

# DataFrame 생성
df_country = pd.DataFrame(dict_country)

# index 셋팅
df_country = df_country.set_index('country')

df_country

                gdp  population
country
china    1409250000      141500
japan     516700000       12718
korea     169320000        5180
usa      2041280000       32676

In [6]:
# Series에서 연산자 활용 가능
gdp_per_capita = df_country['gdp'] / df_country['population']
gdp_per_capita

country
china     9959.363958
japan    40627.457147
korea    32687.258687
usa      62470.314604
dtype: float64

In [8]:
# 연산된 Series를 DataFrame에 추가
df_country['gdp per capita'] = gdp_per_capita
df_country

                gdp  population  gdp per capita
country
china    1409250000      141500     9959.363958
japan     516700000       12718    40627.457147
korea     169320000        5180    32687.258687
usa      2041280000       32676    62470.314604