# Pandas_loc_iloc(indexing&slicing)

In [1]:
import pandas as pd

In [4]:
# Dictionary 생성
dict_country = {
    'country': ['china','japan','korea','usa'],
    'gdp': [1409250000,516700000, 169320000, 2041280000],
    'population': [141500,12718, 5180, 32676]
}

# DataFrame 생성
df_country = pd.DataFrame(dict_country)

# index 셋팅
df_country = df_country.set_index('country')

df_country

                gdp  population
country
china    1409250000      141500
japan     516700000       12718
korea     169320000        5180
usa      2041280000       32676

## loc 슬라이싱 & 인덱싱

In [10]:
# 슬라이싱
df_country.loc['korea':'usa', 'population':]

         population
country
korea          5180
usa           32676

In [7]:
# 인덱싱
# 인덱싱명을 통해 해당 데이터 조회
df_country.loc['korea']

gdp           169320000
population         5180
Name: korea, dtype: int64

## iloc 슬라이싱 & 인덱싱

In [12]:
# 슬라이싱
df_country.iloc[2:, 1:]

         population
country
korea          5180
usa           32676

In [14]:
# 인덱싱
df_country.iloc[2]

gdp           169320000
population         5180
Name: korea, dtype: int64