# Pandas_DataFrame_Masking&Query
* 조건문을 통해 원하는 값을 도출할 수 있다.

In [1]:
import pandas as pd

In [2]:
# Dictionary 생성
dict_country = {
    'country': ['china','japan','korea','usa'],
    'gdp': [1409250000,516700000, 169320000, 2041280000],
    'population': [141500,12718, 5180, 32676]
}

# DataFrame 생성
df_country = pd.DataFrame(dict_country)

# index 셋팅
df_country = df_country.set_index('country')

df_country

                gdp  population
country
china    1409250000      141500
japan     516700000       12718
korea     169320000        5180
usa      2041280000       32676

In [3]:
# masking 연산 활용
df_country[df_country['gdp'] < 170000000]

               gdp  population
country
korea    169320000        5180

In [6]:
# query 함수 활용
df_country.query("gdp < 170000000")

               gdp  population
country
korea    169320000        5180