# Pandas_DataFrame_columns

In [1]:
import pandas as pd

In [2]:
# Dictionary 생성
dict_country = {
    'country': ['china','japan','korea','usa'],
    'gdp': [1409250000,516700000, 169320000, 2041280000],
    'population': [141500,12718, 5180, 32676]
}

# DataFrame 생성
df_country = pd.DataFrame(dict_country)

# index 셋팅
df_country = df_country.set_index('country')

df_country

                gdp  population
country
china    1409250000      141500
japan     516700000       12718
korea     169320000        5180
usa      2041280000       32676

In [3]:
# 컬럼명으로 데이터 검색 - Series 출력
df_country['gdp']

country
china    1409250000
japan     516700000
korea     169320000
usa      2041280000
Name: gdp, dtype: int64

In [5]:
# 컬럼명으로 데이터 검색 - DataFrame 출력
df_country[['gdp']]

                gdp
country
china    1409250000
japan     516700000
korea     169320000
usa      2041280000